@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans:opsz,wght@9..40,500&display=swap');

* {
    margin: 0;
    padding: 0;
    background: black;
}

.contactDiv {
    background: #2b3136;
}

.slicedText {}

.contactLink {
    animation: normalGlow 1.5s ease-in-out infinite alternate;
    font-family: 'Courgette', cursive;
}

.contactBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contactBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactBox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slicedText {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: "Permanent Marker", sans-serif;
    margin-right: 2px;
    margin-left: 2px;
    padding: 10px;
    background: none;
    position: relative;
    white-space: nowrap;

    &:after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(var(--deco-height) * -0.625);
        height: var(--deco-height);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0em;
    }
}


.contactLink {
background: none;
}
.middleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
}



.profileNameText {
    color: #fff;
    font-size: 3rem;
    background: none;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes normalGlow {
    from {

        text-shadow: 0 0 4px #00f0ff, 0 0 10px #00818b, 0 0 5px #00f0ff;

    }

    to {
        text-shadow: 0 0 6px #00f0ff, 0 0 12px #84ff00, 0 0 20px #d0ff00;

    }
}

.basicDetailsRow {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #2b3136;
    align-items: center;
}

.profileImage {
    background: #2b3136;
    width: 70px;
    margin-right: 20px;
    height: 70px;
    border-radius: 50%;
}

.skillsDiv {
    background: #2b3136;
}

.profileNameText::after {
    content: attr(data-text);
    position: absolute;
    background: none;
    top: 0;
    left: 0;
    color: #00f0ff;
    z-index: -1;
}

@keyframes neonGlow {
    from {

        text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff;

    }

    to {
        text-shadow: 0 0 20px #00f0ff, 0 0 30px #00f0ff, 0 0 40px #00f0ff;

    }
}



.profileDiv {
    background: #2b3136;
    height: 100%;
    width: 100%;
}

.homePage {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nintendoSwitch {
    display: flex;
    flex-direction: row;

}

.nintendoSwitch__screen {
    width: 480px;
    height: 250px;
    background: #02070e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 1px grey;
    width: 85px;
    height: 260px;
    border-end-start-radius: 40px;
    border-top-left-radius: 40px;
    background: #02ddff;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 260px;
    border-end-end-radius: 40px;
    border-top-right-radius: 40px;
    background: #ff2a1c;
    box-shadow: 2px 1px 1px grey;
}

.nintendoSwitch__outsideScreen {
    width: 490px;
    height: 260px;
    background: #6e6e6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1px;
    align-items: center;
}

.nintendoSwitch__screen__screen {
    width: 430px;
    height: 220px;
    background: #2b3136;
    border-radius: 2px;
}



/* https://cdn-icons-png.flaticon.com/128/271/271220.png left

https://cdn-icons-png.flaticon.com/128/271/271228.png right

https://cdn-icons-png.flaticon.com/128/3838/3838683.png top

https://cdn-icons-png.flaticon.com/128/6916/6916826.png bottom */



.topButton {
    width: 50px;
    box-shadow: 2px 1px 2px 3px black;
    height: 50px;
    bottom: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: relative;
    background: linear-gradient(36deg, #090100, #7b7b7b);
    justify-content: center;
    align-items: center;
}

/* https://cdn-icons-png.flaticon.com/128/271/271220.png left

https://cdn-icons-png.flaticon.com/128/271/271228.png right

https://cdn-icons-png.flaticon.com/128/3838/3838683.png top

https://cdn-icons-png.flaticon.com/128/6916/6916826.png bottom */

.internalButton {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 50%;

    background: linear-gradient(36deg, #090100, #0b0000);
}

.righttopButton {
    width: 50px;
    box-shadow: 2px 1px 2px 3px black;
    height: 50px;
    bottom: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
    background: linear-gradient(36deg, #090100, #7b7b7b);
    justify-content: center;
    align-items: center;
}

.plus_btn {
    font-size: 30px;
    position: relative;
    right: 20px;
    bottom: 5px;
    color: black;
    text-shadow: 2px 1px 3px black;
}

/* https://cdn-icons-png.flaticon.com/128/271/271220.png left

https://cdn-icons-png.flaticon.com/128/271/271228.png right

https://cdn-icons-png.flaticon.com/128/3838/3838683.png top

https://cdn-icons-png.flaticon.com/128/6916/6916826.png bottom */

.rightinternalButton {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 50%;

    background: linear-gradient(36deg, #090100, #0b0000);
}

.arrowLetter {
    font-size: 14px;
    background: none;
}

.leftArrowButton {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 2px 1px 2px black;
    align-items: center;
    right: 7.5px;
    border-radius: 50%;
    background: linear-gradient(65deg, rgb(15, 2, 0)0, #7b7b7b);
}

.topArrowButton {
    width: 25px;
    box-shadow: 2px 1px 2px black;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(65deg, rgb(15, 2, 0)0, #7b7b7b);
}

.arrowButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    align-items: center;
}

img {
    background: none;
}

.letterButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    margin-top: 15px;
    margin-bottom: 13px;
}

.leftAndRightArrowButtons {
    display: flex;
    flex-direction: row;
    background: none;
    justify-content: center;
    align-items: center;
}

.bottomArrowButton {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 1px 2px black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(65deg, rgb(15, 2, 0)0, #7b7b7b);
}

.rightArrowButton {
    width: 25px;
    height: 25px;
    position: relative;
    box-shadow: 2px 1px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 7.5px;
    border-radius: 50%;
    background: linear-gradient(65deg, rgb(15, 2, 0)0, #7b7b7b);
}

.minus_btn {
    width: 15px;
    height: 5px;
    background-color: black;
    position: relative;
    box-shadow: 2px 1px 3px black;
    bottom: 20px;
    margin-left: 45px;
}